#map {
    height: 24rem;
    width: 100%;
  }
  #details {
    margin-top: 20px;
  }
  .filters {
    margin-bottom: 20px;
  }
  .filter-inputs {
    display: none;
    margin-top: 10px;
  }
  .logout-container {
    position: fixed;  /* Fix the container to the screen */
    right: 10px;       /* Position it 10px from the right edge */
    top: 7%;          /* Center it vertically */
    transform: translateY(-50%);  /* Adjust vertical position */
    z-index: 100;      /* Ensure button is above other elements */
  }
  
  .logout-btn {
    /* Style the button as desired (color, padding, etc.) */
  }